body{
	background-image:url("https://static.toiimg.com/photo/msid-72050549,width-96,height-65.cms"); 
	background-size: 100%;
}
h1{
	text-align: center;
	font-size: 50 px;
	color: steelblue;
}
form{
	text-align: center;
	margin: 20 px auto;
	width: 320 px;
	color: steelblue;

}
input{
	padding: 10 px;
	font-size: inherit;
}